force-app/main/default/flows/KYC_Address_Set_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>New_Version_Equals_1</name>
        <label>New Version Equals 1</label>
        <locationX>941</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>$Record.Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>New_Version_Equals_Max_1</name>
        <label>New Version Equals Max +1</label>
        <locationX>1117</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>$Record.Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaxVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Version__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Not_Null</name>
        <label>If Not Null</label>
        <locationX>735</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Version_Equals_1</targetReference>
            </connector>
            <label>Set to 1</label>
        </rules>
        <rules>
            <name>Set_to_Max_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Version_Equals_Max_1</targetReference>
            </connector>
            <label>Set to Max+1</label>
        </rules>
    </decisions>
    <interviewLabel>KYC Address - Set Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KYC Address - Set Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Versions</name>
        <label>Lookup Versions</label>
        <locationX>399</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Not_Null</targetReference>
        </connector>
        <filters>
            <field>KYC_Legal_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.KYC_Legal_Entity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Version__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>KYC_Address__c</object>
        <outputAssignments>
            <assignToReference>MaxVersion</assignToReference>
            <field>Version__c</field>
        </outputAssignments>
        <sortField>Version__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Versions</targetReference>
        </connector>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>KYC_Address__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MaxVersion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewVersion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
